body {
    background-color: $color-primary;
}

.section1{
    display: flex;
    justify-content: center;
    margin-top: -1.5rem;
    @include phone {
        margin-top: 8rem;
    }
}

.card.card-connect {
    width: 20rem;
}

.boutons_connexion{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
